<section class="p-[80px_0px_40px] bg-theme-primary" id="contact">
    <div class="container">
        <div class="bg-slate-50 border rounded-3xl">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-0 lg:gap-7 p-12">
                <div class="col-span-1 md:col-span-1 lg:col-span-2">
                    <div>
                        <h1 class="text-[24px] font-bold mb-5 title-gradient">GET IN TOUCH</h1>
                        <ul class="">
                            <li class="mb-4 text-[20px]"><a href="#">onlinejobportal&#64;gmail.com</a></li>
                            <li class="mb-4 text-[20px]">
                                <p>Call Us : +88 01888 884 44</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-2 md:col-span-1 lg:col-span-2">
                    <div>
                        <h1 class="text-[24px] font-bold mb-5 title-gradient">INFORMATION</h1>
                        <ul class="">
                            <li class="mb-4"><a href="#home" title="home">Home</a></li>
                            <li class="mb-4"><a href="#about" title="About Us">About Us</a></li>
                        </ul>
                    </div>
                </div>

                <div>
                    <h1 class="text-[24px] font-bold mb-5 title-gradient">Social media</h1>
                    <div class="flex gap-2">
                        <a href="#" class="h-10 w-10" target="_blank" title="Visit Facebook">
                            <img class="w-full h-full" src="../assets/images/icons/facebook-square.svg" alt="">
                        </a>
                        <a href="#" class="h-10 w-10" target="_blank" title="Visit Instagram">
                            <img class="w-full h-full" src="../assets/images/icons/instagram.svg" alt="">
                        </a>
                        <a href="#" class="h-10 w-10" target="_blank" title="Visit Linkedin">
                            <img class="w-full h-full" src="../assets/images/icons/linkedin.svg" alt="">
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <div class="mt-10 flex items-center justify-center text-base">
            Copyright 2024 online job portal | All Rights Reserved
        </div>
    </div>
</section>
<!--============================.,/ Footer =============================== -->