<app-header></app-header>
<!--============================ Home details =============================== -->
<section class="pt-28" id="home">
    <div class="container">
        <div class="text-center font-bold text-4xl text-green-600 mb-5">
            Welcome To Online Job portal
        </div>
        <div class="grid grid-cols-2 gap-8 pt-8">
            <div class="text-xl leading-relaxed">
                In a digital click, careers take flight. Online job portals, a world of options, day and night.
                From bustling cities to towns serene, find your perfect fit, a career scene.
                Skills in demand, applications fly, connecting talents, reaching for the sky.
                Filter, search, and apply with ease, the future unfolds, your potential unleashed.
            </div>
            <div>
                <img src="../assets/images/job_search_portals.png" alt="">
            </div>
        </div>
    </div>
</section>

<!--============================ About Us =============================== -->
<section class="section-gap" id="about">
    <div class="container">
        <div
            class="flex items-center justify-center pt-7 pb-10 bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-blue-400 font-bold text-3xl">
            About Us</div>
        <div class="grid grid-cols-2 gap-12 pt-4">
            <div>
                <img src="../assets/images/job-portal-development.jpg" alt="">
            </div>
            <div class="leading-relaxed text-xl">
                <p class="font-bold text-xl mb-6 title-gradient flex items-center justify-center">Find Your Job Here
                    With A Most Easy way</p>
                Connecting ambition & opportunity. Search smarter, land your dream job. Join us.
                Your career hub. Powerful tools, personalized matches, success stories.
                More than jobs, it's growth. Find your fit, empower your future.
                Empowering workforce connections. Join the thriving community, shape your story.
            </div>
        </div>
    </div>
</section>
<!--============================./ About Us =============================== -->

<!--============================./ Home details =============================== -->