<!--============================= Header ======================== -->
<section class="bg-blue-300 fixed w-full z-50" id="header">
    <header class="container h-[70px]">
        <nav class="flex justify-between h-full items-center">
            <div class="flex justify-between items-center h-full">
                <div class="flex gap-1 items-center">
                    <div>
                        <img src="../assets/images/2024-02-27 03 35 35.png" alt="" class="h-8 pl-6">
                        <div class="text-base font-bold title-gradient">Online Job portal</div>
                    </div>
                </div>
            </div>
            <div class="flex-1">
                <ul
                    class="lg:flex lg:items-center lg:justify-center px-4 py-4 lg:py-0 gap-4 cursor-pointer shadow lg:shadow-none rounded-lg">
                    <li
                        class="px-4 py-2 hover:bg-blue-600 rounded-lg hover:text-white transition duration-300 ease-in-out">
                        <a href="#home" class="text-lg font-semibold">Home</a>
                    </li>
                    <li
                        class="px-4 py-2 hover:bg-blue-600 rounded-lg hover:text-white transition duration-300 ease-in-out">
                        <a href="#about" title="About Us" class="text-lg font-semibold">About Us</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center gap-2 border-black shadow-md px-2 py-2 cursor-pointer">
                <div>
                    <img src="../assets/images/icons/user-profile-svgrepo-com.svg" class="h-8" alt="">
                </div>
                <div class="font-bold text-lg">John doe</div>
            </div>
        </nav>
    </header>
</section>
<!--============================./ Header=============================== -->
<section class="pt-28">
    <div class="container">
        <div class="text-center text-green-800 text-2xl font-semibold mb-7">Welcome to your profile</div>
        <div class="text-center text-base">Navigating the job market becomes effortlessly efficient with our user-friendly job portal. Find a job easily as you
        explore a vast array of opportunities tailored to your skills and preferences. Our platform offers advanced search
        functionalities, allowing you to filter through countless listings and discover the perfect match for your career goals.
        Save time and energy by setting personalized alerts, ensuring you never miss a relevant opportunity. With a seamless
        interface and comprehensive job database, your path to a fulfilling career is just a click away.</div>
        <div class="mt-8 text-center text-orange-500 font-bold text-xl mb-6">Find your dream job</div>
        <div class="grid grid-cols-2 gap-8 pt-6">
            <div>
                <div class="w-full h-auto bg-white rounded-lg overflow-hidden shadow-xl border py-3">
                    <div class="px-4 pt-2">
                        <h2 class="text-xl font-bold text-gray-800">Abul Khair Group</h2>
                        <p class="text-sm text-gray-500 line-clamp-2">Abul Khair Group is one of the largest and leading manufacturing and exporting company in Bangladesh.</p>
                        <p class="text-sm font-bold pt-1">Job title</p>
                        <p class="text-sm font-semibold text-gray-500">Lead Auditor</p>
                    </div>
                    <div class="px-4 py-2">
                        <p class="text-sm font-bold">Education</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                        • Qualification: Minimum Engineering graduation in Electrical, Mechanical, Industrial Production Engineering<br>
                        • Knowledge of audit standards and relevant regulatory requirements</p>
                        <p class="text-sm font-bold">Experience</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                        • 4-5 years work experience in any sector including at least 3 full time work experience, working on a direct
                        production/quality control related position in the power plant, heavy industry.</p>
                        <p class="text-sm font-bold pt-2">Location</p>
                        <p class="text-sm text-gray-500">Dhaka</p>
                        <p class="text-sm font-bold">Total pay</p>
                        <p class="text-sm text-gray-500">BDT 16K - BDT 69K</p>
                    </div>
                </div>
                <div class="flex items-center justify-center py-3">
                    <button class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" routerLink="/app-apply-now">Apply Now</button>
                </div>
            </div>
            <div>
                <div class="w-full h-auto bg-white rounded-lg overflow-hidden shadow-xl border py-3">
                    <div class="px-4 pt-2">
                        <h2 class="text-xl font-bold text-gray-800">Bashundhara Group</h2>
                        <p class="text-sm text-gray-500 line-clamp-2">Bashundhara Group, originally known as “East-West Development Company” (EWPD), has emerged as a prominent and
                        influential conglomerate in Bangladesh.</p>
                        <p class="text-sm font-bold pt-1">Job title</p>
                        <p class="text-sm font-semibold text-gray-500">Operations Manager</p>
                    </div>
                    <div class="px-4 py-2">
                        <p class="text-sm font-bold">Education</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                        • Qualification: Strong communication skills in both: Bengali & English<br>
                        • Knowledge of Logistics standards and relevant regulatory requirements</p>
                        <p class="text-sm font-bold">Experience</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                        • Minimum 5 years of experience in Logistics/Operations/Administration/IT, working on a direct
                        production/quality control related position in the power plant, heavy industry.</p>
                        <p class="text-sm font-bold pt-2">Location</p>
                        <p class="text-sm text-gray-500">Khulna</p>
                        <p class="text-sm font-bold">Total pay</p>
                        <p class="text-sm text-gray-500">BDT 18K - BDT 56K</p>
                    </div>
                </div>
                <div class="flex items-center justify-center py-3">
                    <button class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" routerLink="/app-apply-now">Apply Now</button>
                </div>
            </div>
            <div>
                <div class="w-full h-auto bg-white rounded-lg overflow-hidden shadow-xl border py-3">
                    <div class="px-4 pt-2">
                        <h2 class="text-xl font-bold text-gray-800">Bengal Group of Industries</h2>
                        <p class="text-sm text-gray-500 line-clamp-2">Bengal Group of Industries, commonly known as Bengal Group, is a leading industrial conglomerate in Bangladesh. It was
                        founded in 1969 by Mr.</p>
                        <p class="text-sm font-bold pt-1">Job title</p>
                        <p class="text-sm font-semibold text-gray-500">Support Coordinator</p>
                    </div>
                    <div class="px-4 py-2">
                        <p class="text-sm font-bold">Education</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            English Communication - reading, professional speaking, active listening, professional writing
                            • Strong call and email handling ability by positively representing Field Nation in high stakes situations while
                            remaining a neutral third-party</p>
                        <p class="text-sm font-bold">Experience</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            • Maintaining attention to details
                            • Maintaining balance at stressed situation
                            • Prioritizing, and managing time effectively</p>
                        <p class="text-sm font-bold pt-2">Location</p>
                        <p class="text-sm text-gray-500">Dhaka</p>
                        <p class="text-sm font-bold">Total pay</p>
                        <p class="text-sm text-gray-500">BDT 30K - BDT 40K</p>
                    </div>
                </div>
                <div class="flex items-center justify-center py-3">
                    <button
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" routerLink="/app-apply-now">Apply
                        Now</button>
                </div>
            </div>
            <div>
                <div class="w-full h-auto bg-white rounded-lg overflow-hidden shadow-xl border py-3">
                    <div class="px-4 pt-2">
                        <h2 class="text-xl font-bold text-gray-800">Akij Group</h2>
                        <p class="text-sm text-gray-500 line-clamp-2">Akij Group is one of the largest business conglomerates in Bangladesh. The name 'Akij' derives from the name of its
                        founder Sk</p>
                        <p class="text-sm font-bold pt-1">Job title</p>
                        <p class="text-sm font-semibold text-gray-500">Business Development Intern</p>
                    </div>
                    <div class="px-4 py-2">
                        <p class="text-sm font-bold">Education</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            • Qualification: Strong communication skills in both: Bengali & English<br>
                            • Knowledge of Logistics standards and relevant regulatory requirements</p>
                        <p class="text-sm font-bold">Experience</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            Key requirements:
                            • Working closely with the team lead or assigned staff member, and completing all allocated tasks.
                            • Should have mindset to learn new technologies.
                            • Must have good presentation skills in both English and Bangla.</p>
                        <p class="text-sm font-bold pt-2">Location</p>
                        <p class="text-sm text-gray-500">Khulna</p>
                        <p class="text-sm font-bold">Total pay</p>
                        <p class="text-sm text-gray-500">BDT 5K - BDT 10K</p>
                    </div>
                </div>
                <div class="flex items-center justify-center py-3">
                    <button
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" routerLink="/app-apply-now">Apply
                        Now</button>
                </div>
            </div>
            <div>
                <div class="w-full h-auto bg-white rounded-lg overflow-hidden shadow-xl border py-3">
                    <div class="px-4 pt-2">
                        <h2 class="text-xl font-bold text-gray-800">BEXIMCO Group</h2>
                        <p class="text-sm text-gray-500 line-clamp-2">BEXIMCO Group, elaborate as Bangladesh Export and Import Company, is the largest private sector business group in
                        Bangladesh.</p>
                        <p class="text-sm font-bold pt-1">Job title</p>
                        <p class="text-sm font-semibold text-gray-500">Software Engineer</p>
                    </div>
                    <div class="px-4 py-2">
                        <p class="text-sm font-bold">Education</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            • Qualification: Computer Science (or related technical field) graduates or final semester students<br>
                            • Good programming skills in at least one of the following languages: C/C++, C#, Java or Python</p>
                        <p class="text-sm font-bold">Experience</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            Knowledge of Data Structures and Algorithms
                            • Basic knowledge of SQL and relational databases.</p>
                        <p class="text-sm font-bold pt-2">Location</p>
                        <p class="text-sm text-gray-500">Dhaka</p>
                        <p class="text-sm font-bold">Total pay</p>
                        <p class="text-sm text-gray-500">BDT 28K - BDT 94K</p>
                    </div>
                </div>
                <div class="flex items-center justify-center py-3">
                    <button
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" routerLink="/app-apply-now">Apply
                        Now</button>
                </div>
            </div>
            <div>
                <div class="w-full h-auto bg-white rounded-lg overflow-hidden shadow-xl border py-3">
                    <div class="px-4 pt-2">
                        <h2 class="text-xl font-bold text-gray-800">ACI Limited</h2>
                        <p class="text-sm text-gray-500 line-clamp-2">ACI Limited. Advanced Chemical Industries Limited (ACI Limited) is one of the leading conglomerates in Bangladesh. The
                        company is widely known as 'ACI</p>
                        <p class="text-sm font-bold pt-1">Job title</p>
                        <p class="text-sm font-semibold text-gray-500">Executive/Senior Executive</p>
                    </div>
                    <div class="px-4 py-2">
                        <p class="text-sm font-bold">Education</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            • Qualification: Strong communication skills in both: Bengali & English<br>
                            • Knowledge of Logistics standards and relevant regulatory requirements</p>
                        <p class="text-sm font-bold">Experience</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            •3/5 years experience (as per position) in HR and Admin and preferably in Telecom sector.
                            production/quality control related position in the power plant, heavy industry.</p>
                        <p class="text-sm font-bold pt-2">Location</p>
                        <p class="text-sm text-gray-500">Dhaka</p>
                        <p class="text-sm font-bold">Total pay</p>
                        <p class="text-sm text-gray-500">BDT 55K - BDT 88K</p>
                    </div>
                </div>
                <div class="flex items-center justify-center py-3">
                    <button
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" routerLink="/app-apply-now">Apply
                        Now</button>
                </div>
            </div>
            <div>
                <div class="w-full h-auto bg-white rounded-lg overflow-hidden shadow-xl border py-3">
                    <div class="px-4 pt-2">
                        <h2 class="text-xl font-bold text-gray-800">BJIT Ltd</h2>
                        <p class="text-sm text-gray-500 line-clamp-2">TigerIT Bangladesh LTD. Tiger it has 10 years of experience working in software development. It is one of the best
                        software companies arou</p>
                        <p class="text-sm font-bold pt-1">Job title</p>
                        <p class="text-sm font-semibold text-gray-500">Finance Officer</p>
                    </div>
                    <div class="px-4 py-2">
                        <p class="text-sm font-bold">Education</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            • Qualification: Strong communication skills in both: Bengali & English<br>
                            • Knowledge of Logistics standards and relevant regulatory requirements</p>
                        <p class="text-sm font-bold">Experience</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            • Minimum 3 years of experience in banking & Finance working on a direct
                            production/quality control related position in the power plant, heavy industry.</p>
                        <p class="text-sm font-bold pt-2">Location</p>
                        <p class="text-sm text-gray-500">Dhaka</p>
                        <p class="text-sm font-bold">Total pay</p>
                        <p class="text-sm text-gray-500">BDT 33K - BDT 56K</p>
                    </div>
                </div>
                <div class="flex items-center justify-center py-3">
                    <button
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" routerLink="/app-apply-now">Apply
                        Now</button>
                </div>
            </div>
            <div>
                <div class="w-full h-auto bg-white rounded-lg overflow-hidden shadow-xl border py-3">
                    <div class="px-4 pt-2">
                        <h2 class="text-xl font-bold text-gray-800">Square Group</h2>
                        <p class="text-sm text-gray-500 line-clamp-2">SQUARE GROUP. SQUARE GROUP, Bangladesh's one of the largest industrial conglomerates, begun its journey from the year
                        195</p>
                        <p class="text-sm font-bold pt-1">Job title</p>
                        <p class="text-sm font-semibold text-gray-500">Assistant Manager - Marketing</p>
                    </div>
                    <div class="px-4 py-2">
                        <p class="text-sm font-bold">Education</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            • Qualification: Strong communication skills in both: Bengali & English<br>
                            • Knowledge of Logistics standards and relevant regulatory requirements</p>
                        <p class="text-sm font-bold">Experience</p>
                        <p class="text-sm text-gray-500 line-clamp-2">
                            • Minimum 3 years of experience in banking & Finance working on a direct
                            production/quality control related position in the power plant, heavy industry.</p>
                        <p class="text-sm font-bold pt-2">Location</p>
                        <p class="text-sm text-gray-500">Barishal</p>
                        <p class="text-sm font-bold">Total pay</p>
                        <p class="text-sm text-gray-500">BDT 18K - BDT 77K</p>
                    </div>
                </div>
                <div class="flex items-center justify-center py-3">
                    <button
                        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center" routerLink="/app-apply-now">Apply
                        Now</button>
                </div>
            </div>
        </div>
        <div class="pt-8 flex items-center justify-center">
            <button class="text-white bg-green-400 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">See More</button>
        </div>

    </div>
</section>
